<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="row">
    <h2><%= logged_in? ? "Welcome!" : "Please OAuth to continue!" %></h2>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h2>Dwolla Direct Flow</h2>
      <p>Test the creation of a "lightweight" account via Dwolla Direct and IAV.</p>
      <p><a class="btn btn-default" href="/dashboard/direct">Direct &raquo;</a></p>
    </div>
    <div class="col-md-6 col-lg-6">
      <h2>Dwolla Full Account</h2>
      <p>Create a <em>full</em> Dwolla account via OAuth and IAV.</p>
      <p><a class="btn btn-default" href="/dashboard/full">Full &raquo;</a></p>
    </div>
  </div>
</div>
    <!-- /container -->